<section class="section section-congo">
    <div class="section_cover section_cover-a section_cover-congo"></div>

    <div class="section_container">
        <div class="profile_photo profile_photo-congo">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/congo/congo_profile_630.jpg" alt="{{= congo_profile_img_alt }}">
        </div>
        <h2 class="section_title">{{= congo_subtitle }}</h2>

        <p class="section_paragraph">{{= congo_para_1 }}</p>
        <p class="section_paragraph">{{= congo_para_2 }}</p>
    </div>
    <div class="section_container-media">
        <div class="section_video_container section_video_container-congo">
            <div class="section_video"></div>
            <div class="section_video_overlay">
                <button class="section_video_overlay_play" aria-label="{{= congo_video_play_alt }}"></button>
                <div class="section_video_overlay_label">{{= congo_video_title }}</div>
            </div>
        </div>
        <div class="section_photo section_photo-one">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/congo/books.svg" data-fallback="{{= pathStatic }}/{{= vocab_dir }}/img/congo/books.png" alt="{{= congo_img_1_alt }}">
        </div>
        <div class="section_photo section_photo-two">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/congo/congo_image_1_630.jpg" alt="{{= congo_img_2_alt }}">
        </div>
    </div>
</section>