<div class="ns_creditsHolder">
	<div class="ns_creditsLineThin"></div>
	<h2>{{= credits_title }}</h2>
	<p>{{= credits_para }}</p>
	<h2 class="ns_shareThisStoryTitle">{{= share_title }} <a href="{{= share_disclaimer_url }}">{{= share_disclaimer_title }}</a></h2>
	<a href="mailto:?subject={{= email_subject_urlencoded }}&amp;body={{= email_body_urlencoded }}%0A{{= share_url_urlencoded }}" class="ns_shareIconLink ns_shareEmailIcon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/email.png" alt="{{= share_email }}">
	</a>
	<a href="http://www.facebook.com/dialog/feed?app_id=58567469885&amp;redirect_uri={{= share_url_urlencoded }}&amp;link={{= share_url_urlencoded }}" class="ns_shareIconLink ns_shareFacebookIcon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/facebook.png" alt="{{= share_facebook }}">
	</a>
	<a href="https://twitter.com/intent/tweet?text={{= twitter_message_urlencoded }}&amp;url={{= share_url_urlencoded }}" data-social-url="https://twitter.com/intent/tweet?text={{= twitter_message_urlencoded }}&amp;url=" data-target-url="{{= share_url_urlencoded }}" class="ns_shareIconLink ns_shareTwitterIcon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/twitter.png" alt="{{= share_twitter }}">
	</a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{= share_url_urlencoded }}&amp;title={{= linkedin_title_urlencoded }}&amp;summary={{= linkedin_summary_urlencoded }}&amp;source=BBC%20News" class="ns_shareIconLink ns_shareLinkedInIcon">
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/linkedin.png" alt="{{= share_linkedin }}">
	</a>
	<div class="ns_onwardJourneys">
		<div class="ns_creditsLineThick"></div>
		<h2>{{= onward_journey_title }}</h2>
		<div class="ns_creditsLineThin"></div>
		
		<div class="ns_onwardJourneys_group">
			<div class="ns_onwardJourneys_group_img">
				<a href="{{= onward_journey_link_url_1 }}">
					<img src="{{= pathStatic }}/{{= vocab_dir }}/img/165/100womenlogo.jpg" alt="100 Women: Half the World Speaks">
				</a>
			</div>
			<ul class="ns_onwardJourneys_group_list">
				<li>
					<a href="{{= onward_journey_link_url_1 }}">{{= onward_journey_link_text_1 }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>