<section class="intro">
    <h1 class="intro_title">{{= intro_title_start }} <em class="intro_title_red">{{= intro_title_red }}</em>{{= intro_title_end }}</h1>
    <p class="intro_paragraph">{{= intro_para }}</p>

    <div class="blobs">
        <div class="bubbles">
            <div class="bubble bubble-1"></div>
            <div class="bubble bubble-2"></div>
            <div class="bubble bubble-3"></div>
            <div class="bubble bubble-4"></div>
        </div>
        <div class="blob blob-dishes">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/dishes_blob.png" alt="">
        </div>
        <div class="blob blob-books">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/books_blob.png" alt="">
        </div>
        <div class="blob blob-silence">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/silence_blob.png" alt="">
        </div>
        <div class="blob blob-needle">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/needle_blob.png" alt="">
        </div>
    </div>

    <div class="section_cover">
        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/venezuela/venezuela_cover.png" alt="">
    </div>
</section>