<section class="intro">
    <h1 class="intro_title">{{= intro_title_start }} <em class="intro_title_red">{{= intro_title_red }}</em>{{= intro_title_end }}</h1>
    <p class="intro_paragraph">{{= intro_para }}</p>

    <div class="blobs">
        <div class="bubbles">
            <div class="bubble bubble-1">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.034 30.121" enable-background="new 0 0 31.034 30.121" xml:space="preserve"><g><circle fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="15.908" cy="14.818" r="11.661"/><path fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M15.908,21.915c-3.92,0-7.098-3.178-7.098-7.098"/></g></svg>
            </div>
            <div class="bubble bubble-2">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.034 30.121" enable-background="new 0 0 31.034 30.121" xml:space="preserve"><g><circle fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="15.908" cy="14.818" r="11.661"/><path fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M15.908,21.915c-3.92,0-7.098-3.178-7.098-7.098"/></g></svg>
            </div>
            <div class="bubble bubble-3">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.034 30.121" enable-background="new 0 0 31.034 30.121" xml:space="preserve"><g><circle fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="15.908" cy="14.818" r="11.661"/><path fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M15.908,21.915c-3.92,0-7.098-3.178-7.098-7.098"/></g></svg>
            </div>
            <div class="bubble bubble-4">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.034 30.121" enable-background="new 0 0 31.034 30.121" xml:space="preserve"><g><circle fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="15.908" cy="14.818" r="11.661"/><path fill="#FFFFFF" stroke="#96DED1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M15.908,21.915c-3.92,0-7.098-3.178-7.098-7.098"/></g></svg>
            </div>
        </div>
        <div class="blob blob-dishes">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/dishes_blob.png" alt="">
        </div>
        <div class="blob blob-books">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/books_blob.png" alt="">
        </div>
        <div class="blob blob-silence">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/silence_blob.png" alt="">
        </div>
        <div class="blob blob-needle">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/intro/needle_blob.png" alt="">
        </div>
    </div>

    <div class="section_cover">
        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/venezuela/venezuela_cover.png" alt="">
    </div>
</section>