<section class="section section-siberia">
    <div class="section_cover_container section_cover_container-b">
        <div class="section_cover">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/siberia/siberia_cover.png" alt="">
        </div>
    </div>

    <div class="section_container">
        <div class="profile_photo profile_photo-siberia">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/siberia/siberia_profile_630.jpg" alt="{{= siberia_profile_img_alt }}">
        </div>
        <h2 class="section_title"><span>{{= siberia_subtitle }}</span></h2>
        <div class="clear"></div>
        <div class="section_text">
            <p class="section_paragraph">{{= siberia_para_1 }}</p>
            <p class="section_paragraph">{{= siberia_para_2 }}</p>
        </div>
    </div>

    <div class="section_container-media">
        <div class="section_video_container" id="section_video_container-siberia">
            <div class="section_video"></div>
            <div class="section_video_overlay">
                <button class="section_video_overlay_play" aria-label="{{= siberia_video_play_alt }}"></button>
                <div class="section_video_overlay_label">{{= siberia_video_title }}</div>
            </div>
        </div>
        <div class="section_photo section_photo-one">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/siberia/siberia_image_1_630.jpg" alt="{{= siberia_img_1_alt }}">
        </div>
        <div class="section_photo section_photo-two">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/siberia/sewing.png" alt="{{= siberia_img_2_alt }}">
        </div>
    </div>
    
    <div class="clear"></div>
</section>