<section class="section section-syria">
    <div class="section_cover section_cover-pink section_cover-syria"></div>

    <div class="section_container">
        <div class="profile_photo profile_photo-syria">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/syria/syria_profile.svg" data-fallback="{{= pathStatic }}/{{= vocab_dir }}/img/syria/syria_profile.png" alt="{{= siberia_profile_img_alt }}">
        </div>
        <h2 class="section_title">{{= syria_subtitle }}</h2>

        <p class="section_paragraph">{{= syria_para_1 }}</p>
        <p class="section_paragraph">{{= syria_para_2 }}</p>

        <div class="section_video_container section_video_container-syria">
            <div class="section_video"></div>
            <div class="section_video_overlay">
                <button class="section_video_overlay_play" aria-label="{{= syria_video_play_alt }}"></button>
                <div class="section_video_overlay_label">{{= syria_video_title }}</div>
            </div>
        </div>
        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/syria/syria_image_1_630.jpg" alt="{{= syria_img_1_alt }}" class="section_photo section_photo-one">
        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/syria/syria_image_2_630.jpg" alt="{{= syria_img_2_alt }}" class="section_photo section_photo-two">
    </div>
</section>