<section class="section section-us">
    <div class="section_cover_container section_cover_container-b">
        <div class="section_cover section_cover-us"></div>
    </div>

    <div class="section_container">
        <div class="profile_photo profile_photo-us">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/us/us_profile_630.jpg" alt="{{= us_profile_img_alt }}">
        </div>
        <h2 class="section_title"><span>{{= us_subtitle }}</span></h2>
        <div class="clear"></div>
        <div class="section_text">
            <p class="section_paragraph">{{= us_para_1 }}</p>
            <p class="section_paragraph">{{= us_para_2 }}</p>
        </div>
    </div>
    <div class="section_container-media">
        <div class="section_video_container section_video_container-us">
            <div class="section_video"></div>
            <div class="section_video_overlay">
                <button class="section_video_overlay_play" aria-label="{{= us_video_play_alt }}"></button>
                <div class="section_video_overlay_label">{{= us_video_title }}</div>
            </div>
        </div>
        <div class="section_photo section_photo-one">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/us/us_image_1_630.jpg" alt="{{= us_img_1_alt }}">
        </div>
        <div class="section_photo section_photo-two">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/us/us_image_2_630.jpg" alt="{{= us_img_2_alt }}">
        </div>
    </div>
    
    <div class="clear"></div>
</section>