<section class="section section-venezuela">
    <div class="section_cover section_cover-venezuela"></div>

    <div class="section_container">
        <div class="profile_photo profile_photo-venezuela">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/venezuela/venezuela_profile_630.jpg" alt="{{= venezuela_profile_img_alt }}">
        </div>
        <h2 class="section_title">{{= venezuela_subtitle }}</h2>

        <p class="section_paragraph">{{= venezuela_para_1 }}</p>
        <p class="section_paragraph">{{= venezuela_para_2 }}</p>
    </div>

    <div class="section_container-media">
        <div class="section_video_container section_video_container-venezuela">
            <div class="section_video"></div>
            <div class="section_video_overlay">
                <button class="section_video_overlay_play" aria-label="{{= venezuela_video_play_alt }}"></button>
                <div class="section_video_overlay_label">{{= venezuela_video_title }}</div>
            </div>
        </div>
        <div class="section_photo section_photo-one">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/venezuela/venezuela_image_1_630.jpg" alt="{{= venezuela_img_1_alt }}">
        </div>
        <div class="section_photo section_photo-two">
            <img src="{{= pathStatic }}/{{= vocab_dir }}/img/venezuela/venezuela_image_2_630.jpg" alt="{{= venezuela_img_2_alt }}">
        </div>
    </div>
</section>