$black: #000; $black_80: rgba(0,0,0,0.8);
$mine_shaft: #222;
$alto: #dcdcdc;
$white: #fff;

$tory_blue: #1167a8;
$powder_blue: #b4e7dd;
$morning_glory: #9ee1d4;

$guardsman_red: #c00;
$wafer: #e4d3d2;
$amaranth: #ec2565;