.intro {
    background-color: $morning_glory;
    position: relative;
}

.intro_title {
    font-size: 3.2em;
    line-height: 36px;
    padding: 34px 8px;
    margin: 0 auto;
    text-align: center;
}

.intro_title_red {
    font-style: normal;
    color: #ec2565;
}

.intro_paragraph {
    font-size: 1.6em;
    line-height: 22px;
    text-align: center;
    margin: 0 16px;
}

.blobs {
    position: relative;
    height: 620px;
    overflow: hidden;
}

.blob {
    position: absolute;
}

.blob-dishes {
    width: 192px;
    top: 0;
    left: 0;
    z-index: 0;
}

.blob-silence {
    width: 209px;
    top: 31px;
    right: -16px;
    z-index: 9;
}

.blob-books {
    width: 223px;
    top: 162px;
    left: -10px;
    z-index: 8;
}

.blob-needle {
    width: 212px;
    top: 230px;
    right: -22px;
    z-index: 7;
}

@include respondMinMax(364px, false) {
    .blobs {
        width: 320px;
        margin: 0 auto;
        overflow: visible;
    }
}

@include respondMinMax(768px, false) {
    .intro_title {
        font-size: 4.8em;
        line-height: 52px;
        width: 568px;
        padding: 64px 0 34px;
        margin: 0 auto;
    }

    .intro_paragraph {
        font-size: 1.8em;
        line-height: 24px;
        width: 568px;
        margin: 0 auto;
    }

    .blobs {
        height: 574px;
        width: 768px;
    }

    .blob-dishes {
        width: 214px;
        left: 10px;
    }

    .blob-books {
        width: 258px;
        top: 114px;
        left: 100px;
    }

    .blob-silence {
        width: 242px;
        top: 0;
        right: 116px;
    }

    .blob-needle {
        width: 216px;
        top: 100px;
        right: 18px;
    }
}

@include respondMinMax(1008px, false) {
    .intro_title {
        font-size: 5.2em;
        line-height: 56px;
        width: 612px;
    }

    .intro_paragraph {
        font-size: 1.6em;
        line-height: 22px;
        width: 450px;
    }

    .blobs {
        width: 1008px;
    }

    .blob-dishes {
        width: 228px;
        top: -52px;
        left: 65px;
    }

    .blob-books {
        width: 266px;
        top: 56px;
        left: 192px;
    }

    .blob-silence {
        width: 266px;
        top: -22px;
    }

    .blob-needle {
        width: 248px;
        top: -125px;
    }
}