.intro {
    background-color: $morning_glory;
    position: relative;
}

.intro_title {
    font-size: 3.2em;
    line-height: 36px;
    padding: 34px 8px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.intro_title_red {
    font-style: normal;
    color: #ec2565;
}

.intro_paragraph {
    font-size: 1.6em;
    line-height: 22px;
    text-align: center;
    margin: 0 16px 20px;
    position: relative;
    z-index: 2;
}

.blobs {
    position: relative;
    height: 617px;
}

.blob {
    position: absolute;
}

.blob-dishes {
    width: 190px;
    top: 0;
    left: 0;
    z-index: 0;
}

.blob-silence {
    width: 200px;
    top: 31px;
    right: -16px;
    z-index: 9;
}

.blob-books {
    width: 216px;
    top: 165px;
    left: -9px;
    z-index: 8;
}

.blob-needle {
    width: 204px;
    top: 230px;
    right: -19px;
    z-index: 7;
}

.bubble {
    position: absolute;
    width: 22px;
    height: 22px;
    z-index: 1;
    top: 166px;
    left: 110px;
    &-1 {
        animation: bubbleUp 10s linear infinite, bubbleSidewaysA 12s ease-in-out infinite alternate;
    }
    &-2 {
        animation: bubbleUp 12s linear infinite, bubbleSidewaysB 11s ease-in-out infinite;
    }
    &-3 {
        animation: bubbleUp 15s linear infinite, bubbleSidewaysA 10s ease-in-out infinite alternate;
    }
    &-4 {
        animation: bubbleUp 17s linear infinite, bubbleSidewaysB 9s ease-in-out infinite;
    }
}

@include respondMinMax(364px, false) {
    .blobs {
        width: 320px;
        margin: 0 auto;
    }
}

@include respondMinMax(600px, false) {
    .intro_title {
        width: 400px;
        margin: 0 auto;
    }

    .intro_paragraph {
        width: 400px;
        margin: 0 auto 20px;
    }

    .blobs {
        width: 600px;
        height: 532px;
    }

    .blob-dishes {
        left: 8px;
    }

    .blob-books {
        top: 131px;
        left: 77px;
    }

    .blob-silence {
        top: 0;
        right: 76px;
    }

    .blob-needle {
        top: 132px;
        right: 4px;
    }
}

@include respondMinMax(768px, false) {
    .intro_title {
        font-size: 4.8em;
        line-height: 52px;
        width: 568px;
        padding: 64px 0 34px;
    }

    .intro_paragraph {
        font-size: 1.8em;
        line-height: 24px;
        width: 568px;
    }

    .blobs {
        height: 574px;
        width: 768px;
    }

    .blob-dishes {
        width: 214px;
        left: 10px;
    }

    .blob-books {
        width: 258px;
        top: 114px;
        left: 100px;
    }

    .blob-silence {
        width: 242px;
        top: 0;
        right: 116px;
    }

    .blob-needle {
        width: 216px;
        top: 100px;
        right: 18px;
    }

    .bubble {
        width: 28px;
        height: 28px;
        left: 110px;
        &-1 {
            animation: bubbleUp768 10s linear infinite, bubbleSidewaysA768 15s ease-in-out infinite alternate;
        }
        &-2 {
            animation: bubbleUp768 12s linear infinite, bubbleSidewaysB768 14s ease-in-out infinite alternate;
        }
        &-3 {
            animation: bubbleUp768 15s linear infinite, bubbleSidewaysA768 13s ease-in-out infinite alternate;
        }
        &-4 {
            animation: bubbleUp768 17s linear infinite, bubbleSidewaysB768 12s ease-in-out infinite alternate;
        }
    }
}

@include respondMinMax(1008px, false) {
    .intro_title {
        font-size: 5.2em;
        line-height: 56px;
        width: 612px;
    }

    .intro_paragraph {
        font-size: 1.6em;
        line-height: 22px;
        width: 450px;
        margin: 0 auto;
    }

    .blobs {
        width: 1008px;
    }

    .blob-dishes {
        width: 228px;
        top: -52px;
        left: 65px;
    }

    .blob-books {
        width: 266px;
        top: 56px;
        left: 192px;
    }

    .blob-silence {
        width: 266px;
        top: -22px;
    }

    .blob-needle {
        width: 248px;
        top: -125px;
    }

    .bubble {
        top: 140px;
        left: 150px;
        &-1 {
            animation: bubbleUp1008 10s linear infinite, bubbleSidewaysA1008 12s ease-in-out infinite alternate;
        }
        &-2 {
            animation: bubbleUp1008 12s linear infinite, bubbleSidewaysB1008 11s ease-in-out infinite;
        }
        &-3 {
            animation: bubbleUp1008 15s linear infinite, bubbleSidewaysA1008 10s ease-in-out infinite alternate;
        }
        &-4 {
            animation: bubbleUp1008 17s linear infinite, bubbleSidewaysB1008 9s ease-in-out infinite;
        }
    }
}

@keyframes bubbleUp {
    0% {
        top: 166px;
    }
    100% {
        top: -350px;
    }
}

@keyframes bubbleSidewaysA {
    0% {
        left: 180px;
    }
    100% {
        left: 32px;
    }
}

@keyframes bubbleSidewaysB {
    0% {
        left: 106px;
    }
    25% {
        left: 32px;
    }
    75% {
        left: 180px;
    }
    100% {
        left: 106px;
    }
}

@keyframes bubbleUp768 {
    0% {
        top: 182px;
    }
    100% {
        top: -350px;
    }
}

@keyframes bubbleSidewaysA768 {
    0% {
        left: 250px;
    }
    100% {
        left: 60px;
    }
}

@keyframes bubbleSidewaysB768 {
    0% {
        left: 110px;
    }
    100% {
        left: 300px;
    }
}

@keyframes bubbleUp1008 {
    0% {
        top: 140px;
    }
    100% {
        top: -350px;
    }
}

@keyframes bubbleSidewaysA1008 {
    0% {
        left: 325px;
    }
    100% {
        left: 150px;
    }
}

@keyframes bubbleSidewaysB1008 {
    0% {
        left: 237px;
    }
    25% {
        left: 150px
    }
    75% {
        left: 325px;
    }
    100% {
        left: 237px;
    }
}