@import "news_special/defaults";
@import "colors";
@import "app";
@import "no-js";

@import "intro";
@import "section";
@import "section_covers";
@import "video";
@import "creditsShareAndMore";

.ns_rtl { direction: rtl; }
.main {
    font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
    color: $mine_shaft;
    a {
        text-decoration: none;
        border-bottom: 1px solid $alto;
        color: $mine_shaft;
        font-weight: bold;
        &:hover { color: $tory_blue; }
    }
}

.ns_creditsHolder {
    width: 304px;
    padding: 0 0 60px;
    max-width: none;
}
.ns_onwardJourneys_group_img {
    width: 165px;
    float: left;
    margin: 0 16px 12px 0;
}
.ns_onwardJourneys_group_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
@include respondMinMax(768px, false) {
    .ns_creditsHolder {
        width: 612px;
    }
}
@include respondMinMax(1008px, false) {
    .ns_creditsHolder {
        width: 816px;
        padding-right: 172px;
    }
}

.clear {
    clear: both;
}

.b-g-p, .b-r .b-g-p {
    box-sizing: content-box;
}