@import "news_special/defaults";
@import "colors";
@import "app";
@import "no-js";

@import "intro";
@import "section";
@import "section_covers";
@import "video";
@import "creditsShareAndMore";
@import "creditssharemore_custom";

.ns_rtl { direction: rtl; }
.main {
    font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
    color: $mine_shaft;
    a {
        text-decoration: none;
        border-bottom: 1px solid $alto;
        color: $mine_shaft;
        font-weight: bold;
        &:hover { color: $tory_blue; }
    }
}

.b-g-p, .b-r .b-g-p {
    box-sizing: content-box;
}

.clear {
    clear: both;
}