.section_cover_container {
    height: 200px;
    position: relative;
}

.section_cover_container-a {
    background-color: $wafer;
    border-bottom: solid 2px $morning_glory;
}

.section_cover_container-b {
    background-color: $powder_blue;
    border-bottom: solid 2px $amaranth;
}

.section_cover {
    height: 160px;
    background-position: bottom right;
    width: 320px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -160px;
}

.section_cover-venezuela {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/venezuela/venezuela_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/venezuela/venezuela_cover.svg);
}

.section_cover-syria {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/syria/syria_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/syria/syria_cover.svg);
}

.section_cover-siberia {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/siberia/siberia_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/siberia/siberia_cover.svg);
}

.section_cover-pakistan {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/pakistan/pakistan_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/pakistan/pakistan_cover.svg);
}

.section_cover-us {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/us/us_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/us/us_cover.svg);
}

.section_cover-congo {
    background-repeat: no-repeat;
    background-image: url(/news/special/2015/newsspec_12499/content/english/img/congo/congo_cover.png);
    background-image: linear-gradient(transparent, transparent), url(/news/special/2015/newsspec_12499/content/english/img/congo/congo_cover.svg);
}

@include respondMinMax(768px, false) {
    .section_cover_container {
        height: 304px;
    }

    .section_cover {
        height: 274px;
        width: 636px;
        margin-left: -318px;
        background-position: bottom right;
    }
}