.section_container {
    margin: 0 34px;
}

.profile_photo {
    width: 96px;
    height: 96px;
    margin-top: -48px;
    position: relative;
}

.section_title {
    font-size: 2.4em;
    line-height: 28px;
    color: $black;
    margin: 40px 0;
    position: relative;
}

.section_paragraph {
    font-size: 1.6em;
    line-height: 22px;
    margin: 0 0 30px;
}

.section_container-media {
    margin: 0 8px;
}

.section_photo-one {
    margin-bottom: 16px;
}

.hashtag {
    margin: 40px 0 48px;
    font-size: 1.6em;
    line-height: 22px;
}

@include respondMinMax(600px, false) {
    .section_container, .section_container-media {
        width: 532px;
        margin: 0 auto;
    }

    .section_photo {
        width: 258px;
        height: 258px;
        float: left;
        &-one {
            margin: 0 16px 0 0;
        }
    }
}

@include respondMinMax(768px, false) {
    .section_container, .section_container-media {
        width: 612px;
    }

    .profile_photo {
        width: 235px;
        height: 235px;
        margin-top: -117.5px;
        float: left;
    }

    .section_title {
        font-size: 3.2em;
        line-height: 36px;
        float: left;
        margin: 0 0 0 26px;
        height: 117.5px;
        span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 350px;
        }
    }

    .section_text {
        margin: 68px 0;
    }

    .section_paragraph {
        font-size: 1.8em;
        line-height: 24px;
    }

    .section_video_container {
        margin-bottom: 36px;
    }

    .section_photo {
        width: 298px;
        height: 298px;
    }

    .hashtag {
        margin: 68px 0 76px;
    }
}

@include respondMinMax(1008px, false) {
    .section_container, .section_container-media {
        width: 816px;
        padding-right: 172px;
    }

    .profile_photo {
        width: 314px;
        height: 314px;
        margin-top: -157px;
    }

    .section_title {
        margin-left: 36px;
        height: 157px;
    }

    .section_paragraph {
        font-size: 1.6em;
        line-height: 22px;
    }

    .section_photo {
        width: 314px;
        height: 314px;
    }
}