.section_cover_container {
    height: 200px;
    position: relative;
}

.section_cover_container-a {
    background-color: $wafer;
    border-bottom: solid 2px $morning_glory;
}

.section_cover_container-b {
    background-color: $powder_blue;
    border-bottom: solid 2px $amaranth;
}

.section_cover {
    height: 160px;
    width: 320px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -160px;
    img {
        float: right;
        height: 100%;
        width: auto;
    }
}

@include respondMinMax(600px, false) {
    .section_cover {
        width: 468px;
        margin-left: -234px;
    }
}

@include respondMinMax(768px, false) {
    .section_cover_container {
        height: 304px;
    }

    .section_cover {
        height: 274px;
        width: 636px;
        margin-left: -318px;
    }
}

@include respondMinMax(1008px, false) {
    .section_cover_container {
        height: 360px;
    }

    .section_cover {
        height: 324px;
        width: 720px;
        margin-left: -360px;
    }

    .section_cover-venezuela {
        height: 348px;
    }
}